@import "tailwindcss";
@custom-variant light (&:where(.light, .light *));
/* tailwind config */

@font-face {
       font-family: gothic-bold;
       src: url("./fonts/GOTHICB.TTF");
       font-display: swap;
}

@font-face {
       font-family: gothic;
       src: url("./fonts/GOTHIC.TTF");
       font-display: swap;
}

@font-face {
       font-family: morabba-bold;
       src: url("./fonts/Morabba-Black.ttf");
       font-display: swap;
}

@font-face {
       font-family: morabba;
       src: url("./fonts/Morabba-Regular.ttf");
       font-display: swap;
}

@font-face {
       font-family: sultanAdanBold;
       src: url("./fonts/Sultan-Adan-Bold.ttf");
       font-display: swap;
}

@font-face {
       font-family: sultanAdan;
       src: url("./fonts/Sultan-Adan-Light.ttf");
       font-display: swap;
}

@theme {
       --color-primary: oklab(0.82 0.03 0.17);
       --color-secondary: oklch(0.29 0 0);
       --color-tertiary: oklch(20.5% 0 0);
       --color-light-primary: oklch(95.2% 0 0);
       --color-light-secondary: oklch(87% 0 0);
       --color-light-tertiary: oklch(37.1% 0 0);
       --font-gothic-bold: "gothic-bold", sans-serif;
       --font-gothic: "gothic", sans-serif;
       --font-morabba: "morabba", sans-serif;
       --font-morabba-bold: "morabba-bold", sans-serif;
       --font-custom: "morabba-bold", sans-serif;
       --font-sultanAdanBold: "sultanAdanBold", sans-serif;
       --font-sultanAdan: "sultanAdan", sans-serif;
       --breakpoint-size-boxes: 460px;
       --breakpoint-md: 769px
}

/* tailwind style (apply) */

html {
       @apply bg-[#111] overflow-x-hidden
}

.active-sidebar-desktop {
       @apply bg-primary
}

.active-sidebar-desktop>.active-sidebar-desktop-child {
       @apply text-gray-700
}

*::selection {
       @apply text-black bg-primary
}

.mui-icon-arrow-right {
       @apply text-secondary
}

.li {
       @apply list-disc
}

a {
       @apply text-primary underline
}

.a-none {
       @apply !text-white !no-underline
}

input, textarea {
       @apply outline-1 outline-secondary light:outline-light-primary transition-all duration-200 border-none
}

textarea::placeholder {
       @apply text-neutral-400
}

input:focus,
textarea:focus {
       @apply outline-1 outline-primary
}

/* css style */

* {
       cursor: none;
}

@media only screen and (max-width: 769px) {
       * {
              cursor: auto !important;
       }
}

.clip-path-triangle {
       clip-path: polygon(0 0, 47% 0, 100% 100%, 0% 100%);
}

.page-overlay.shrink {
       height: 0;
}

.word-spacing-half {
       word-spacing: 0.5rem;
}

.word-spacing-half-half {
       word-spacing: 0.25rem;
}

.word-spacing-3half {
       word-spacing: 0.1rem;
}

.font-custom {
       font-family: 'Franklin Gothic Medium';
       font-weight: bold;
}


/* Customize Scrollbar  */

.scrollable-firefox {
       scrollbar-width: thin;
       /* 'auto' | 'thin' | 'none' */
       scrollbar-color: #888 #f1f1f1;
       /* thumb color | track color */
}

.scrollable::-webkit-scrollbar {
       width: 12px;
       /* padding-inline: 2px; */
       /* height: 8px; */
}

.scrollable::-webkit-scrollbar-track {
       background: #272727;
       width: 12px;
}

.scrollable::-webkit-scrollbar-thumb {
       background: #585858;
       border-radius: 10px;
       border: 3px solid #272727;
       background-clip: padding-box;
}

.scrollable::-webkit-scrollbar-track-piece {
       background: #272727;
}

.scrollable::-webkit-scrollbar-thumb:hover {
       background: #707070;
}

.nextSlideButton::after {
       content: "next";
       font-family: swiper-icons
}

.prevSlideButton::after {
       content: "prev";
       font-family: swiper-icons
}

/* .bounce-transition {
       transition-timing-function: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
} */

.addPointerEventsAuto>div {
       pointer-events: visible;
}